.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
button {
  cursor: pointer;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
}
.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* ========================HEADER============ */
.page-header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.page-nav {
  display: flex;
}
.page-header-container {
  display: flex;
  column-gap: 40px;
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.contact-information {
  font-style: normal;
  margin-left: auto;
}

.contact-email-phone {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.contact-email-phone:hover,
.contact-email-phone:focus {
  color: #404bbf;
}
.first-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.second-part-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  margin-right: 76px;
}
.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
.logo {
  margin-right: 76px;
}
.menu-item:not(:last-child) {
  margin-right: 40px;
}
.portfolio-page-header-bottom-line {
  border-bottom: 1px solid #e7e9fc;
}

/* ========================/HEADER============ */
/* =========================HERO BLOCK======== */
.hero {
  background: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-promo {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 48px;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
}

.order-service-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  color: #ffffff;
  padding-top: 14px;
  display: flex;
  padding-bottom: 14px;
  padding-right: 30px;
  padding-left: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 48px;
}
.order-service-btn:hover,
.order-service-btn:focus {
  background-color: #404bbf;
}
/* =========================/HERO BLOCK======== */
/* =========================OUR UNICS SECTION======= */
.our-unics-list {
  display: flex;
}
.our-unics {
  color: #ffffff;
}
.advantage {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.section-no-btm-pudding {
  padding-bottom: 0px;
}
.adavantage-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-advantage:not(:last-child) {
  margin-right: 24px;
}
/* =========================/OUR UNICS SECTION======= */
/*==========================WHAT ARE WE DOING SECTION====== */

.project-examples {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}
.photo-of-examples {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
/*==========================/WHAT ARE WE DOING SECTION====== */

/*==========================OUR TEAM SECTION====== */
.list-container {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 32px;
  /* justify-content: space-between; */
}
.our-team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}
.name-position-text {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.oue-team-section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.employee-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-top: 32px;
  /* margin-top: 32px; */
  margin-bottom: 8px;
}
.employee-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  padding-bottom: 32px;
}
/*==========================/OUR TEAM SECTION====== */
/*==========================FOOTER====== */
.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.why-choose-us {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
  display: flex;
  flex-wrap: wrap;
  max-width: 264px;
}

.second-part-logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.footer-logo-container {
  margin-bottom: 16px;
}
/*==========================/FOOTER====== */
/* ============================================PORTFOLIO======== */
/* ==========================================MAIN============= */
.service-type-btn {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  color: #4d5ae5;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.service-type-pictures-and-description {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
}
/* .service-type-pictures {
  margin-top: 32px;
} */
.smth:nth-child(n + 4) {
  margin-top: 32px;
}
.finished-project-titles {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  padding-top: 32px;
}
.sphere-and-product {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
  padding-bottom: 32px;
}
.service-buttons-list {
  display: flex;
  justify-content: center;
}
.service-type-btn {
  margin-right: 24px;
  padding: 12, 24;
  margin-bottom: 72px;
  /* margin-bottom: 72px;
  margin-top: 96px; */
  /* padding: 0; */
}
.service-type-btn:hover,
.service-type-btn:focus {
  background: #404bbf;
  color: #ffffff;
}
.frame-adding-and-description-under-pic {
  border: 1px solid #e7e9fc;
  border-top: 1px solid #ffffff;
  padding-left: 16px;
}
